.cuadro1{
    height: 200px;
    width: 200px;
    background-color: blue;
}

.cuadro2{
    height: 200px;
    width: 200px;
    background-color: green;
}

.cuadro3{
    height: 200px;
    width: 200px;
    background-color: pink;
}

.cuadro4{
    height: 200px;
    width: 200px;
    background-color: orange;
}
